<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="item">主页</a>
        <a class="item">产品/视频</a>
        <a class="item">新闻/咨询</a>
        <a class="item">关于我们</a>
        <div class="right item">
          <div class="item" style="margin: 0px;padding:0px">
            <div class="ui mini icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
          <a class="ui mini inverted button">登录</a>
          <a class="ui mini inverted button">注册</a>
        </div>
      </div>
    </div>
    <!-- Main -->
    <section id="main" class="container medium">
      <header>
        <h2>联系我们</h2>
        <p>告诉我们你觉得应该改善的建议</p>
      </header>
      <div class="box">
        <form method="post" action="#">
          <div class="row gtr-50 gtr-uniform">
            <div class="col-6 col-12-mobilep">
              <input type="text" name="name" id="name" value="" placeholder="Name" />
            </div>
            <div class="col-6 col-12-mobilep">
              <input type="email" name="email" id="email" value="" placeholder="Email" />
            </div>
            <div class="col-12">
              <input type="text" name="subject" id="subject" value="" placeholder="Subject" />
            </div>
            <div class="col-12">
              <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
            </div>
            <div class="col-12">
              <ul class="actions special">
                <li><input type="submit" value="Send Message" /></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
<!-- Scripts -->
<script src="../../js/jquery.dropotron.min.js"></script>
<script src="../../js/jquery.scrollex.min.js"></script>
<script src="../../js/browser.min.js"></script>
<script src="../../js/breakpoints.min.js"></script>
<script src="../../js/util.js"></script>
<script src="../../js/main.js"></script>