<style>
  body {
    background: #f0f4f4;
  }

</style>
<div id="wrapper">
  {{> templates-header-three}}
  <div style="position: relative;">
    {{> templates-content-eight}}
  </div>
  <div style="position: relative;height:100%;">
      {{> templates-content-ten}}
  </div>
  {{> templates-footer-one}}
</div>
<script>
  $(document).ready(function () {
    let theme = document.getElementById('theme');
    theme.setAttribute("href", '../../css/components/basic/basic-one.css')
    let iconsFooter = document.createElement('link');
    iconsFooter.setAttribute("rel", "stylesheet");
    iconsFooter.setAttribute("type", "text/css");
    iconsFooter.setAttribute("href", '../../css/components/icons/icons-footer.css');
    document.getElementsByTagName("head")[0].appendChild(iconsFooter);
    let container = document.createElement('link');
    container.setAttribute("rel", "stylesheet");
    container.setAttribute("type", "text/css");
    container.setAttribute("href", "../../css/components/container/container.css")
    document.getElementsByTagName("head")[0].appendChild(container)
  })
</script>