<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="item">主页</a>
        <a class="item">产品/视频</a>
        <a class="item">新闻/咨询</a>
        <a class="item">关于我们</a>
        <div class="right item">
          <div class="item" style="margin: 0px;padding:0px">
            <div class="ui mini icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
          <a class="ui mini inverted button">登录</a>
          <a class="ui mini inverted button">注册</a>
        </div>
      </div>
    </div>
    <!-- Main -->
    <section id="main" class="container">
      <header>
        <h2>标题</h2>
        <p>概述</p>
      </header>
      <div class="box" style="color:black">
        <span class="image featured"><img src="../../images/pic01.jpg" alt="" /></span>
        <h3>子标题</h3>
        <p>内容
        </p>
      </div>
    </section>


  </div>
</div>
<!-- Scripts -->
<script src="../../js/jquery.dropotron.min.js"></script>
<script src="../../js/jquery.scrollex.min.js"></script>
<script src="../../js/browser.min.js"></script>
<script src="../../js/breakpoints.min.js"></script>
<script src="../../js/util.js"></script>
<script src="../../js/main.js"></script>