
<div id="wrapper">
  {{> templates-header-two}}
  {{> organisms-banner-one}}
  {{> templates-content-one}}
  {{> templates-footer-one}}
</div>
<script>
  $(document).ready(function(){
    let theme = document.getElementById('theme');
    theme.setAttribute("href",'../../css/components/basic/basic-two.css')
  })
</script>