/* Header */

#page-wrapper {
  padding-top: 3.5em;
}

#header-1 {
  background: rgba(39, 40, 51, 0.965);
  box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
  cursor: default;
  height: 3.5em;
  left: 0;
  line-height: 3.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

  #header-1 h1 {
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    position: absolute;
    top: 0;
  }

  #header-1 nav {
    position: absolute;
    right: 1em;
    top: 0;
  }

    #header-1 nav ul {
      margin: 0;
    }

      #header-1 nav ul li {
        display: inline-block;
        margin-left: 1em;
      }

        #header-1 nav ul li a, #header-1 nav ul li span {
          border: 0;
          color: inherit;
          display: inline-block;
          height: inherit;
          line-height: inherit;
          outline: 0;
        }

          #header-1 nav ul li a.button, #header-1 nav ul li span.button {
            height: 2em;
            line-height: 2em;
            padding: 0 1.25em;
          }

          #header-1 nav ul li a:not(.button):before, #header-1 nav ul li span:not(.button):before {
            margin-right: 0.5em;
          }

        #header-1 nav ul li.active > a, #header-1 nav ul li.active > span {
          color: #e44c65;
        }

        #header-1 nav ul li > ul {
          display: none;
        }

body.landing #page-wrapper {
  padding-top: 0;
}

body.landing #header-1 {
  background: transparent;
  box-shadow: none;
  position: absolute;
}