<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="five wide column">
        <h4 class="ui inverted header">关于我们</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">关于公司</a>
          <a href="#" class="item">联系我们</a>
        </div>
      </div>
      <div class="five wide column">
        <h4 class="ui inverted header">服务</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">产品介绍</a>
          <a href="#" class="item">FAQ</a>
          <a href="#" class="item">加入我们</a>
        </div>
      </div>
      <div class="five wide column">
        <h4 class="ui inverted header">电话：+86 12344 邮箱：abc@abc.com</h4>
        <h4 class="ui inverted header">地址：浙江省xxxxxxxxxxxxxxxxxx</h4>
        <p>@2019 有限公司 版权所有</p>
      </div>
    </div>
  </div>
</div>