    <div class="feature alternate ui vertical segment">
      <div class="ui three column center aligned inverted divided relaxed stackable grid container">
        <div class="row">
          <div class="column" style="
          height: 150px;
          display: flex;
          align-items: center;
          justify-content: center;">
            <a class="ui large button" href="/usage/theming.html">产品</a>
          </div>
          <div class="column" style="
          height: 150px;
          display: flex;
          align-items: center;
          justify-content: center;">
            <div class="ui primary view-ui large button">视频</div>
          </div>
          <div class="column" style="
          height: 150px;
          display: flex;
          align-items: center;
          justify-content: center;">
            <a href="https://github.com/fomantic/Fomantic-UI/issues" class="ui large button">下载</a>
          </div>
        </div>
      </div>
    </div>