<style>
  /* Main */

  #main>header {
    padding: 12em 0 10em 0;
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
		background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  #main>header h2 {
    font-size: 1.75em;
    margin: 0 0 0.5em 0;
    font-weight: 700;
    line-height: 16px;
    color: white;
    font-family: 'Hiragino Kaku Gothic Pro';
  }

  #main>header p {
    color: inherit;
    letter-spacing: 0.225em;
    text-transform: uppercase;
    top: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: white;
    font-family: 'Hiragino Kaku Gothic Pro';
  }

  #main>header p a {
    color: inherit;
  }

  @media screen and (max-width: 1680px) {

    #main>header {
      padding: 10em 0 8em 0;
    }

  }

  @media screen and (max-width: 1280px) {

    #main>header {
      padding: 8em 3em 6em 3em;
    }

  }

  @media screen and (max-width: 980px) {

    #main>header {
      padding: 10em 3em 8em 3em;
    }

  }

  @media screen and (max-width: 736px) {

    #main>header {
      padding: 5em 3em 3em 3em;
    }

    #main>header h2 {
      font-size: 1.25em;
      margin: 0 0 1em 0;
    }

  }

  body.is-mobile #main>header {
    background-attachment: scroll;
  }
</style>
<article id="main">
  <header>
    <h2>Generic Page</h2>
    <p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p>
  </header>
</article>