<style>
.eleven {
  display:block;
  padding: 5em 0 3em 0;
  background: #fff;
}
.eleven .container {
  margin: 0 auto;
  max-width: 100%;
}
.eleven .container ul.links {
  list-style: none;
  padding-left: 0;
}
.eleven .container ul.links li {
  line-height: 2.5em;
  padding-left: 0;
}
.eleven .container a {
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  color: #37c0fb;
  text-decoration: none;
  border-bottom: dotted 1px;
}
.eleven .container header p {
  color: #999;
  font-size: 1.25em;
  position: relative;
  margin-top: -1.25em;
  margin-bottom: 2.25em;
}
.eleven .container h1, h2, h3, h4, h5, h6 {
  color: black;
  font-weight: 600;
  line-height: 1.75em;
  margin-bottom: 1em;
}
.eleven .container h3 {
  font-size: 1.2em;
  letter-spacing: -0.025em;
}
.eleven .container p, ul, ol, dl, table, blockquote {
  color: black;
  margin: 0 0 2em 0;
}
@media screen and (max-width: 1680px) {
  .eleven .container {
    width: 1200px;
  }
}
</style>
<!-- Main -->
<section class="eleven">
  <div class="container">
    <div class="row gtr-200">
      <div class="col-4 col-12-narrower">
        <div id="sidebar">
          <!-- Sidebar -->
          <section>
            <h3>Another Subheading</h3>
            <ul class="links">
              <li><a href="#">Amet turpis, feugiat et sit amet</a></li>
              <li><a href="#">Ornare in hendrerit in lectus</a></li>
            </ul>
            <footer>
              <a href="#" class="button">More Random Links</a>
            </footer>
          </section>

        </div>
      </div>
      <div class="col-8  col-12-narrower imp-narrower">
        <div id="content">

          <!-- Content -->

          <article>
            <header>
              <h2>Left Sidebar</h2>
              <p>Sidebar on the left, content on the right.</p>
            </header>

            <span class="image featured"><img src="../../images/banner.jpg" alt="" style="height:100px;width: 100%;"/></span>
            <h3>And Yet Another Subheading</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac quam risus, at tempus
              justo. Sed dictum rutrum massa eu volutpat. Quisque vitae hendrerit sem. Pellentesque lorem felis,
              ultricies a bibendum id, bibendum sit amet nisl. Mauris et lorem quam. Maecenas rutrum imperdiet
              vulputate. Nulla quis nibh ipsum, sed egestas justo. Morbi ut ante mattis orci convallis tempor.
              Etiam a lacus a lacus pharetra porttitor quis accumsan odio. Sed vel euismod nisi. Etiam convallis
              rhoncus dui quis euismod. Maecenas lorem tellus, congue et condimentum ac, ullamcorper non sapien.
              Donec sagittis massa et leo semper a scelerisque metus faucibus. Morbi congue mattis mi.
              Phasellus sed nisl vitae risus tristique volutpat. Cras rutrum commodo luctus.</p>

            <p>Phasellus odio risus, faucibus et viverra vitae, eleifend ac purus. Praesent mattis, enim
              quis hendrerit porttitor, sapien tortor viverra magna, sit amet rhoncus nisl lacus nec arcu.
              Suspendisse laoreet metus ut metus imperdiet interdum aliquam justo tincidunt. Mauris dolor urna,
              fringilla vel malesuada ac, dignissim eu mi. Praesent mollis massa ac nulla pretium pretium.
              Maecenas tortor mauris, consectetur pellentesque dapibus eget, tincidunt vitae arcu.
              Vestibulum purus augue, tincidunt sit amet iaculis id, porta eu purus.</p>
          </article>

        </div>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function () {
    let row = document.createElement('link');
    row.setAttribute("rel", "stylesheet");
    row.setAttribute("type", "text/css");
    row.setAttribute("href", '../../css/components/row/row.css');
    document.getElementsByTagName("head")[0].appendChild(row);
  })
</script>