<!-- One -->
<style>
  .products-overview {
    padding: 3em 0 3em 0;
    border-bottom: solid 2px #eeeeee;
    text-align: center;
    background-color: black;
  }

  .products-overview .overview h2 {
    font-weight: 700;
    color: white;
    font-size: 1.3em;
    font-family: 'Hiragino Kaku Gothic Pro';
  }

  .products-overview .container {
    display: flex;
  }

  .products-overview .container .left {
    flex-direction: column;
    text-align: left;
  }

  .products-overview .container .right {
    flex-direction: column;
    text-align: right;
  }
</style>
<section class="products-overview">
  <header class="overview" style="width: auto;">
    <h2>Products overview</h2>
    <div class="ui main container">
      <div class="left">
        <h2>We Help Companies and Companions</h2>
        <div class="content">
          <ul class="actions">
            <li><a href="#one" class="button next scrolly">了解更多</a></li>
          </ul>
        </div>
      </div>
      <div class="right">

      </div>
    </div>
  </header>
</section>
<script>
  $(document).ready(function () {
    let container = document.createElement('link');
    container.setAttribute("rel", "stylesheet");
    container.setAttribute("type", "text/css");
    container.setAttribute("href", "../../css/components/container/container.css")
    document.getElementsByTagName("head")[0].appendChild(container)
  })
  let buttonsTwo = document.createElement('link');
  buttonsTwo.setAttribute("rel", "stylesheet");
  buttonsTwo.setAttribute("type", "text/css");
  buttonsTwo.setAttribute("href", '../../css/components/buttons/buttons-two.css');
  document.getElementsByTagName("head")[0].appendChild(buttonsTwo);
</script>