<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
    <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy; Untitled</li>
    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
  </ul>
</footer>
<script>
  $(document).ready(function () {
    let footer = document.createElement('link');
    footer.setAttribute("rel", "stylesheet");
    footer.setAttribute("type", "text/css");
    footer.setAttribute("href", '../../css/components/footer/footer.css');
    document.getElementsByTagName("head")[0].appendChild(footer);
    
    {{# icons }}
    let icons = document.createElement('link');
    icons.setAttribute("rel", "stylesheet");
    icons.setAttribute("type", "text/css");
    icons.setAttribute("href", '../../css/components/icons/icons.css');
    document.getElementsByTagName("head")[0].appendChild(icons);
    {{/ icons }}
  })
</script>