<!-- Header -->
<header id="header-2" class="alt" style="color: white;">
  <a href="index.html" class="logo"><strong>Forty</strong> <span>by HTML5 UP</span></a>
  <nav>
    <a href="#menu">Menu</a>
  </nav>
</header>
<script>
  $(document).ready(function () {
    let headerTwo = document.createElement('link');
    headerTwo.setAttribute("rel", "stylesheet");
    headerTwo.setAttribute("type", "text/css");
    headerTwo.setAttribute("href", '../../css/components/header/header-two.css');
    document.getElementsByTagName("head")[0].appendChild(headerTwo);
  })
</script>