<!-- Header -->
<header id="header-2" class="alt" style="margin-top:4vh">
  <a href="index.html" class="logo"><strong>Forty</strong> <span>by HTML5 UP</span></a>
  <nav>
    <a href="#menu">Menu</a>
  </nav>
</header>
<script>
  window.onload  = function () {
    var theme = document.getElementById('theme');
    theme.setAttribute("href", '../../css/components/basic/basic-2.css');
  }
</script>