
/* Viewer */

@-moz-keyframes spinner {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes spinner {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#viewer {
  -moz-transition: opacity 0.75s ease, width 0.75s ease;
  -webkit-transition: opacity 0.75s ease, width 0.75s ease;
  -ms-transition: opacity 0.75s ease, width 0.75s ease;
  transition: opacity 0.75s ease, width 0.75s ease;
  position: absolute;
  top: 0;
  width: calc(100% - 22.5em);
  height: 100%;
  left: 0;
}

  #viewer .inner {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

    #viewer .inner > * {
      pointer-events: auto;
    }

    #viewer .inner:before {
      background-image: -moz-linear-gradient(left, rgba(16,16,16,0.2), rgba(16,16,16,0) 10em, rgba(16,16,16,0)), -moz-linear-gradient(right, rgba(16,16,16,0.2), rgba(16,16,16,0) 10em, rgba(16,16,16,0));
      background-image: -webkit-linear-gradient(left, rgba(16,16,16,0.2), rgba(16,16,16,0) 10em, rgba(16,16,16,0)), -webkit-linear-gradient(right, rgba(16,16,16,0.2), rgba(16,16,16,0) 10em, rgba(16,16,16,0));
      background-image: -ms-linear-gradient(left, rgba(16,16,16,0.2), rgba(16,16,16,0) 10em, rgba(16,16,16,0)), -ms-linear-gradient(right, rgba(16,16,16,0.2), rgba(16,16,16,0) 10em, rgba(16,16,16,0));
      background-image: linear-gradient(left, rgba(16,16,16,0.2), rgba(16,16,16,0) 10em, rgba(16,16,16,0)), linear-gradient(right, rgba(16,16,16,0.2), rgba(16,16,16,0) 10em, rgba(16,16,16,0));
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    #viewer .inner .toggle {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      position: absolute;
      top: 0;
      width: 4em;
      height: 4em;
      background-image: url("images/close.svg");
      background-repeat: no-repeat;
      background-size: 64px 64px;
      cursor: pointer;
      z-index: 1;
      right: 0;
      background-position: calc(100% - 0.75em) 0.75em;
    }

    #viewer .inner .nav-next,
    #viewer .inner .nav-previous {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      position: absolute;
      top: 50%;
      width: 6em;
      height: 6em;
      margin-top: -3em;
      background-image: url("images/arrow.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }

    #viewer .inner .nav-previous {
      -moz-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      transform: scaleX(-1);
      left: 0;
    }

    #viewer .inner .nav-next {
      right: 0;
    }

  #viewer .slide {
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1;
  }

    #viewer .slide .caption {
      background-image: -moz-linear-gradient(bottom, rgba(16,16,16,0.75), rgba(16,16,16,0.25) 80%, rgba(16,16,16,0));
      background-image: -webkit-linear-gradient(bottom, rgba(16,16,16,0.75), rgba(16,16,16,0.25) 80%, rgba(16,16,16,0));
      background-image: -ms-linear-gradient(bottom, rgba(16,16,16,0.75), rgba(16,16,16,0.25) 80%, rgba(16,16,16,0));
      background-image: linear-gradient(bottom, rgba(16,16,16,0.75), rgba(16,16,16,0.25) 80%, rgba(16,16,16,0));
      padding: 2em 2em 0.75em 2em ;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: rgba(255, 255, 255, 0.5);
      z-index: 1;
    }

      #viewer .slide .caption h2, #viewer .slide .caption h3, #viewer .slide .caption h4, #viewer .slide .caption h5, #viewer .slide .caption h6 {
        color: #fff;
      }

    #viewer .slide .image {
      -moz-transition: opacity 0.5s ease-in-out;
      -webkit-transition: opacity 0.5s ease-in-out;
      -ms-transition: opacity 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0;
    }

    #viewer .slide:before {
      -moz-animation: spinner 1s linear infinite;
      -webkit-animation: spinner 1s linear infinite;
      -ms-animation: spinner 1s linear infinite;
      animation: spinner 1s linear infinite;
      -moz-transition: opacity 0.5s ease-in-out;
      -webkit-transition: opacity 0.5s ease-in-out;
      -ms-transition: opacity 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out;
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 3em;
      height: 3em;
      background-image: url("images/spinner.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin: -1.5em 0 0 -1.5em;
      opacity: 0;
    }

    #viewer .slide.loading:before {
      opacity: 1;
    }

    #viewer .slide.active .image {
      opacity: 1;
    }

  body.fullscreen #viewer {
    width: 100%;
  }

    body.fullscreen #viewer .inner .toggle {
      background-image: url("images/open.svg");
    }

  body.is-preload-1 #viewer {
    opacity: 0;
  }

  body.is-preload-2 #viewer .slide {
    opacity: 0;
  }

  @media screen and (max-width: 1280px) {

    #viewer {
      width: calc(100% - 19em);
    }

  }

  @media screen and (max-width: 980px) {

    #viewer {
      width: 100%;
    }

      #viewer .inner .toggle {
        -moz-transition: opacity 0.75s ease;
        -webkit-transition: opacity 0.75s ease;
        -ms-transition: opacity 0.75s ease;
        transition: opacity 0.75s ease;
        background-image: url("images/open.svg");
        opacity: 0;
        right: 0;
      }

      body.fullscreen #viewer .inner .toggle {
        opacity: 1;
      }

  }

  @media screen and (max-width: 736px) {

    #viewer .inner .toggle {
      background-size: 32px 32px;
    }

    #viewer .inner .nav-next,
    #viewer .inner .nav-previous {
      background-image: url("images/arrow-small.svg");
      background-size: 32px 32px;
    }

    body.fullscreen #viewer .inner .toggle {
      background-image: url("images/open-small.svg");
    }

  }

  @media screen and (max-width: 480px) {

    #viewer {
      -moz-transition: opacity 0.5s ease;
      -webkit-transition: opacity 0.5s ease;
      -ms-transition: opacity 0.5s ease;
      transition: opacity 0.5s ease;
      -moz-transition-delay: 0s;
      -webkit-transition-delay: 0s;
      -ms-transition-delay: 0s;
      transition-delay: 0s;
      opacity: 0;
    }

      #viewer .inner .toggle {
        background-image: url("images/close-small.svg") !important;
        background-size: 32px 32px;
      }

      body.fullscreen #viewer {
        -moz-transition-delay: 0.5s;
        -webkit-transition-delay: 0.5s;
        -ms-transition-delay: 0.5s;
        transition-delay: 0.5s;
        opacity: 1;
      }

  }