<div style="
    flex-grow: 1;display: flex;
    justify-content: center;
    align-items: center;">
  <div style="color: black;">
    <div style="text-align: left;">
      <p style="margin: 0 0 0.6em 0;;letter-spacing:0px">01.</p>
      <header style="margin: 0 0 0.5em 0;">
        <p style="
              font-size: 2vh;
              font-weight: 700;
              line-height: 1.1em;
              letter-spacing: 0em;">
          XXX XXXX
          <br />
          XX XXX
        </p>
      </header>
    </div>
  </div>
</div>