<article>
  <div class="ui raised card">
    <div class="content">
      <div class="center aligned header" style="
              line-height: 20px;
              text-transform: uppercase;">Project</div>
      <div class="center aligned description" style="padding:2em 0">
        <i class="large icons">
          <i class="big teal expand icon"></i>
          <i class="black headphones icon"></i>
        </i>
      </div>
    </div>
    <div class="content" style="border:none;padding-top: 1em;">
      <div class="center aligned header" style="
              line-height: 20px;
              text-transform: uppercase;">Project <br />Nofition</div>
      <div class="center aligned description" style="color:#7c7c7c;margin-top: 1em;">
        XX items
      </div>
    </div>
  </div>
</article>