<ul class="icons" style="
    display: flex;
    position: absolute;
    left: 40px;
    bottom: 0;
    z-index: 3;
    color: white;
    flex-direction: column;">
  <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
  <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
  <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
  <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
</ul>