<div class="item" style="display: flex;padding: 1em;">
  <img class="ui avatar image" src="../../images/helen.jpg">
  <div class="content" style="
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  align-items: baseline;">
    <div class="header">Snickerdoodle</div>
    An excellent companion
    <div class="extra">
      <ul class="actions" style="margin:0px">
        <li>
          <div href="#one" class=" button next scrolly" style="text-transform:none">了解更多</div>
        </li>
      </ul>
    </div>
  </div>
</div>