/* Section/Article */

section.special, article.special {
  text-align: center;
}

header.major {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: -ms-max-content;
  width: max-content;
}

  header.major > :first-child {
    margin-bottom: 0;
    width: calc(100% + 0.5em);
  }

    header.major > :first-child:after {
      content: '';
      background-color: #ffffff;
      display: block;
      height: 2px;
      margin: 0.325em 0 0.2em 0;
      width: 100%;
    }

  header.major > p {
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 0.25em;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  body.is-ie header.major > :first-child:after {
    max-width: 9em;
  }

  body.is-ie header.major > h1:after {
    max-width: 100% !important;
  }

@media screen and (max-width: 736px) {

  header.major > p br {
    display: none;
  }

}
