<!-- 全屝居中Banner -->
<section id="banner">
  <div style="height: 100%;">
    {{> organisms-carousel}}
  </div>
  <div class="inner">
    <div style="color: white;display: flex;justify-content: space-around;">
      <div style="text-align: left;padding-left: 60px;">
        <p>Residential</p>
        <div>
          <p style="
          font-size: 10vh;
          font-weight: 700;
          line-height: 1.1em;
          letter-spacing: 0em;">
            House Rectangle
            <br />
            In Agoura
          </p>
        </div>

      </div>
      <p>
        Another fine responsive
      </p>
    </div>
  </div>
  <a href="#one" class="more scrolly" style="
    position: absolute;
    bottom: 0;
    left: 200px;
    z-index: 3;
    font-size: 4vh;">
  </a>
</section>
