<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item">Home</a>
    <a class="item">Work</a>
    <a class="item">Company</a>
    <a class="item">Careers</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button">Log in</a>
      </div>
      <div class="item">
        <a class="ui primary button">Sign Up</a>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    let semanticUi = document.createElement('link');
    semanticUi.setAttribute("rel", "stylesheet");
    semanticUi.setAttribute("type", "text/css");
    semanticUi.setAttribute("href", '../../css/common/semantic.min.css');
    document.getElementsByTagName("head")[0].appendChild(semanticUi);
  })
</script>