<div id="viewer" style="z-index: 3;">
  <div class="inner">
    <div class="nav-next"></div>
    <div class="nav-previous"></div>
  </div>
</div>
<script>
  $(document).ready(function () {
    let viewer = document.createElement('link');
    viewer.setAttribute("rel", "stylesheet");
    viewer.setAttribute("type", "text/css");
    viewer.setAttribute("href", '../../css/components/viewer/viewer.css');
    document.getElementsByTagName("head")[0].appendChild(viewer);
  })
</script>