<div id="viewer">
  <div class="inner">
    <div class="nav-next"></div>
    <div class="nav-previous"></div>
  </div>
</div>
<script>
  window.onload  = function () {
    var theme = document.getElementById('theme');
    theme.setAttribute("href", '../../css/components/basic/basic-1.css');
  }
</script>