<!DOCTYPE html>
<html class="{{ htmlClass }}">

<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <link id="theme" rel="stylesheet" href="../../css/semantic.min.css" media="all" />
  <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
  <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
  <link rel="stylesheet" href="../../css/banner/main.css?{{ cacheBuster }}" media="all" />
  <link rel="stylesheet" href="../../css/section/article.css?{{ cacheBuster }}" media="all" />
  <link rel="stylesheet" href="../../css/banner/noscript.css?{{ cacheBuster }}" media="all" />
  <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
  {{{ patternLabHead }}}
  <!-- End Pattern Lab -->
  <style type="text/css">
  
  </style>
</head>

<body class="{{ bodyClass }}">