<!DOCTYPE html>
<html class="{{ htmlClass }}">

<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="../../css/common/main.css" media="all" />
  <link id="theme" rel="stylesheet" href="../../css/components/basic/basic-2.css" media="all" />
  <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
  <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
  <link rel="stylesheet" href="../../css/components/banner/banner.css?{{ cacheBuster }}" media="all" />
  <link rel="stylesheet" href="../../css/components/header/header-1.css?{{ cacheBuster }}" media="all" />
  <link rel="stylesheet" href="../../css/components/header/header-2.css?{{ cacheBuster }}" media="all" />
  <link rel="stylesheet" href="../../css/components/section/section.css?{{ cacheBuster }}" media="all" />
  <link rel="stylesheet" href="../../css/components/viewer/viewer.css?{{ cacheBuster }}" media="all" />
  <link rel="stylesheet" href="../../css/components/banner/noscript.css?{{ cacheBuster }}" media="all" />
  <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
  {{{ patternLabHead }}}
  <!-- End Pattern Lab -->
  <style type="text/css">
  
  </style>
</head>

<body class="{{ bodyClass }}">