  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <!-- Scripts -->
  <script src="../../js/common/semantic.min.js"></script>
  <script src="../../js/common/anime.min.js"></script>
  <script src="../../js/common/jquery.scrollex.min.js"></script>
  <script src="../../js/common/jquery.scrolly.min.js"></script>
  <script src="../../js/common/browser.min.js"></script>
  <script src="../../js/common/breakpoints.min.js"></script>
  <script src="../../js/util.js"></script>
  <script src="../../js/main.js"></script>
</body>
</html>